services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      PORT: "245"
      REDIS_URL: "redis://redis:6379"
    volumes:
      - .:/app:ro
      - app-node-modules:/app/node_modules
      - ../scripts/:/scripts:ro
    ports:
      - "245:245"

volumes:
  app-node-modules:
  redis-data:
